{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MisPerrisprueba</title>
    <link rel="stylesheet" href="Style/style.css"/>
    <link rel="icon" href="/static/img/perrologo.png"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
            <nav>
            <ul>
                <li><a class="red" href="{% url 'index' %}">Menu</a></li>
                <li><a class="blue" href="{% url 'registro' %}">Registro</a></li>
                <li><a class="yellow" href="{% url 'galeria' %}">Galeria</a></li>
          
            </ul>
            </nav>
            <h1>Mis perris</h1>
    </header>
    <div class="galeria">
        <h4>Galeria de Fotos</h4>
          <table id="galeriacompleta">
          <tr>
                  <td>
                  <img class="galeriafotosperros" src="/static/img/perrogaleria5.jpg" alt="perro jebus">
                  </td>
              <td>
                  <h5>Jebus</h5>
                   <p>Fue rescatado por nosotros Mis Perris</p>
                   <p>El es Jebus, un perro bastante jugueton
                   por si tiene un hijo, le encantara, esta entrenado para amar y ser 
                   amado por su gente, es un golden retriever, de tan solo 2 mese</p>
             </td>
          </tr>
          <tr>
                <td>
                  <img class="galeriafotosperros" src="/static/img/perrogaleria6.jpg" alt="perro loki">
                </td>
                <td>
                      <h5>Loki</h5>
                      <p>Fue rescatado por nosotros Mis Perris</p>
                      <p>Loki es un animal caracteristico para nosotros fue encontrado
                      en un parque a las afuera de Santiago, el es un golden retriever.</p>
                </td>
          </tr>
          <tr>
                <td>
                  <img class="galeriafotosperros" src="/static/img/perrogaleria4.jpg" alt="perro dioniso">
                </td>
                <td>
                      <h5>Dioniso</h5>
                      <p>Fue rescatado por nosotros Mis Perris</p>
                      <p>Dionis el pastor aleman es un perro bastante cerrado, cuesta llegar a el
                      pero la gente que ha podido acerse a el, al podido ver el amor que puede brindar
                      necesita ser adoptado a una familia que lo ame y lo cuide.</p>
                </td>
            </tr>
            <tr>
                <td>
                  <img class="galeriafotosperros" src="/static/img/perrogaleria3.jpg" alt="perro razaljulk">
                </td>
                <td>
                      <h5>razaljulk</h5>
                      <p>Fue rescatado por nosotros Mis Perris</p>
                      <p>razaljulk es un animal que encontramos en el Rio Mapocho vagando, desnutrido, el nombre estaba en su coyar
                      no sabemos realmente su origen o que le paso, lo unico que sabemos que este animal timido
                      le cuesta acercarse a la gente por lo que quien, quiera tenerlo tendra que brindarle un amor inmenso</p>
                </td>
            </tr>
          </table>
      </div>
    <footer>
        <table>
            <tr>
                <td>
                    Numero Telefonico :
                </td>
                <td>
                    <a href="tel:+56979644180">
                        +56 9 796 411 80
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    Correo Electronico : 
                </td>
                <td>
                    <a href="mail:aimbox_prox@hotmail.cl">
                        aimbox_prox@hotmail.cl
                    </a>
                </td>
            </tr>
            <tr id= "derechos">
                <td colspan="2">
                    &copy;Todos los derechos reservados por la Fundacion Mis Perris
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>